/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   

    PALETA DE CORES
    
    Azul forte: #1A222C
    Cinza clarinho: #f3f3f3
    Cinza mais clarinho: #e1e1e1
    Vermelho logo: #EB4854

    Open Sans


========================================================  */


/*==============================================
    GENERAL  STYLES
=============================================*/

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
}

#wrapper {
    width: 100%;
    margin-top: 50px;
}

/* Plano de fundo */
#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #f3f3f3;
}

/* Fundo janela principal */
#page-inner {
    width: 100%;
    margin: 10px 20px 10px 0px;
    background-color: #fff!important;
    padding: 10px;
    min-height: 1050px;
}

/* Espaçamento dos botões de ação */
.pad-top {
    padding-top: 15px;
}


/*==============================================
    MENU STYLES
=============================================*/

/* Cabeçalho */
.navbar-inverse {
    background-color: #1A222C;
    border-bottom: -1px;
    border-color: #EB4854;
    min-height: 80px;
}

/* Botão Exit */
.logout-spn {
    float: right;
    color: #f3f3f3;
    font-size: 20px;
    font-weight: 580;
    margin: 20px;
    margin: 25px 35px 10px 50px;
}

/* Linha superior botão Exit */
.logout-spn a {
    text-decoration: overline;
    text-decoration-color: #EB4854;
}

/* Espaçamento botões menu lateral */
.sidebar-collapse .nav {
    padding: 0px;
    padding-top: 50px;
}

/* Espaçamento à esquerda dos textos dos botões */
.nav > li > a > i {
    margin-right: 10px;
}

/* Cor das letras/ícones do menu lateral */
.sidebar-collapse > .nav > li > a {
	padding: 15px 15px;
    color: #1A222C;
    font-weight: 400;
    font-size: 16px;
}

/* Contorno (espaçador) entre os botões do menu lateral */
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid #e1e1e1;
}

/* Cor do botão selecionado */
.active-link {
    background-color: #f3f3f3;
}

/* Cor do sombreamento de seleção dos botões */
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	background: #F3F3F3;
	outline: 0;
}

/* Cor dos botões menu lateral */
.navbar-side {
	border: none;
	background-color: #fff;
}
    

/*==============================================
    DASHBOARD STYLES    
=============================================*/

.div-square {
    padding:5px;
    border:3px double #e1e1e1;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    margin:5px;
}

.div-square> a,.div-square> a:hover {
    color:#808080;
     text-decoration:none;
}


/*==============================================
    FOOTER STYLES     
=============================================*/

/* Rodapé */
.footer {  
    background-color: #1A222C;
    width: 100%;
    color: #f3f3f3;
    padding: 0px 50px 0px 50px;
    text-align: center;
}

.footer > a, .footer>a:hover {
    color: #f3f3f3;
}


/*==============================================
    MEDIA QUERIES     
=============================================*/
 
@media(min-width:768px) {
    #page-wrapper{
        margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1050px;
    }
	
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;             /* Largura dos botões menu lateral */
    }
}